@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', Arial, system-ui, sans-serif;

    /* Base Colors (Light Mode) */
    --color-bg-primary: #F5F5DC;
    --color-bg-secondary: #FFCF9D;
    --color-text-primary: #004225;
    --color-text-secondary: #2F4F3A;
    --color-border: #FFCF9D;

    --color-accent-primary: #004225;
    --color-accent-secondary: #FFB000;
    --color-accent-soft: #FFCF9D;
}

@layer base {
    /* Dark Mode Overrides */
    .dark {
        --color-bg-primary: #004225;
        --color-bg-secondary: #00331c;
        --color-text-primary: #F5F5DC;
        --color-text-secondary: #B8B8A0;
        --color-border: #005c34;
        --color-accent-primary: #F5F5DC;
        --color-accent-secondary: #FFB000;
        --color-accent-soft: #005c34;
    }

    body {
        background-color: var(--color-bg-primary);
        color: var(--color-text-primary);
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}
